* {
  padding: 0;
  margin: 0;
}

#bg-img {
  background-image: linear-gradient(to right, rgba(250, 251, 252, 0.9), rgba(250, 251, 252, 0.9)), url("./img/bg-3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100vw;
}

#header {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#bg-parent {
  height: 100vh;
}

#img-heading {
  padding-left: 20px;
  padding-top: 70px;
}

#img-heading h1 {
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url("./img/text-bg-2.jpg");
  color: transparent;
}

#about {
  background-image: url(./img/pattren.png);
  background-size: contain;
  margin-top: 200px;
}
