* {
  padding: 0;
  margin: 0;
}

#bg-img {
  background-image: linear-gradient(to right, rgba(250, 251, 252, 0.9), rgba(250, 251, 252, 0.9)), url("./img/bg-3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100vw;
}

#header {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#bg-parent {
  height: 100vh;
}

#img-heading {
  padding-left: 20px;
  padding-top: 70px;
  }

  #main-p {
    margin-left: 20px;
  }
  
#img-heading h1 {
  color: #ec5242;
  background-image: url('./img/text-bg-2.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#program {
  background-image: url(./img/programs-bg.jpeg);
  background-size: contain;
  margin-top: 200px;
}

div .hover:hover {
 border: 3px solid white;
}


#logo {
  height: 80px;
  width: 80px;
}

#menu li a:hover {
  color: orange;
}

@media screen and (min-width:768px) {
  #img-heading {
    padding-left: 200px;
    padding-top: 70px;
    }
  
    #main-p {
      margin-left: 200px;
    
    }
  
    #year {
      margin-right: 280px;
      text-align: start;
    }

    div .hover {
      min-height: 300px;
     }
    
  }
  